
@{
    ViewData["Title"] = "Index";
}

<div>
    <table class="table">
        <tr>
            <th>
                <h1>Become a seller</h1>
                <br><h3>More than half the units sold in our stores are from independent sellers.</h3>
            </th>
            <th>
                <img src="~/images/SellBooks.jpg" width="700" height="400" />
            </th>

        </tr>
    </table>
</div>

<h4>Have a few books to sell? Apply now </h4><br>

<div class="form-group">
    <a asp-action="Terms" class="btn btn-primary">Apply</a>

</div>

