
@{
    ViewData["Title"] = "Terms";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Rent">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <p>
                    <h3>Terms and Conditions</h3>
                    vfdjvnjdkvnkjfdjvnfjvnfvksjdfnvjnnnnnnnnnnnnnnfsdlnvfdnnslvnfdv
                    dfjdskvlfdkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkvjkfdvndfjkv
                    dfffffnskkkkkkkkkkkkkkkkknjvrsiuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuv
                    reyhreauunccccccccccccccandkjjjjjjjcankjdcanjdsanckjcnewanecueaucnvn
                    reveavhrvbeuvbrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrvburevbvxbxjhvxj
                    zvczncbxmbxcmnvbxmnvbxjbvsdhfbdcvxmxbxvxmbvmxcbvmcxvbmxbvxbvnxcbvhxbvxcbvxvhbhx
                    hbsbxkjvbxckjvmxvbxvhxvbhvbhvbxhvxhcvbhvbh\vbjhxbvhxhvbhdhbhvbhjbvh\bvhvdjhgfdhfdhsdg
                    hgvhjbjjvgxbhjvbxjvbxvbjhgvbjvbjvbhjbdjhvbdjhjffghchzcvnvchsdchgvhcvh
                    gzcvzhcgvdchbhjcjvdcjvdhcvdchvdchjsgcjhvchdnvchvhjsd
                    hgzvchdcjsdvcsdjvcsdcbzjhcbsdjhsduycgsdjcbsdjcbsdjdcgsdvdhsdjcvsdjhjcvs
                    hjbhhcjzcvsdgjujofusgfjbcmzbcjhhkjzhxjdhksdjhjbjxcmvjhfgbjhxvkjshbkzh
                    hjbsjdjfhcjkbjbnmbvxnbvmnbvmsbvxmvbkjhvbkjxbjvkzhknzknk,nlklksvkhdhvhkvxnxvjhdv
                    hzbkjhsvhkjxcvbkjvbkjvxjbjbvkjsfugfusyfgjhgvhjvxjbjvxjhvxgjvgjkxvjvxgjkxvgvxkjvxjvgxhjvxgjxvgxvjgvxjhv
                    gjhxvgvxjh
                </p>

            </div>

            <input type="checkbox" required /> I accept the Terms and conditions

            <div class="form-group">
                <a asp-action="Apply" class="btn btn-primary">Continue</a>
            </div>
        </form>
    </div>
</div>

