@model BookMarket.Models.ApplicationUser
@{
    ViewData["Title"] = "Edit";
}
<br />

<h2 class="text-info">Edit user</h2>
<form asp-action="Active" method="post" id="user-form" enctype="multipart/form-data">
    <div class="p-4 rounded border">
        <div asp-validation-summary="ModelOnly" class="text-danger">

        </div>
        <input type="hidden" asp-for="Id" value="@Model.Id" />
        <h3>@ViewBag.message</h3>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="UserName"></label>
            </div>
            <div class="col-5">
                <input asp-for="UserName" class="form-control" readonly="readonly" />
            </div>
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Name"></label>
            </div>
            <div class="col-5">
                <input asp-for="Name" class="form-control" readonly="readonly" />
            </div>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Surname"></label>
            </div>
            <div class="col-5">
                <input asp-for="Surname" class="form-control" readonly="readonly" />
            </div>
            <span asp-validation-for="Surname" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Activate" />
           
            <a asp-action="Index" class="btn btn-success">Back to List</a>
        </div>
    </div>
</form>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
    $(document).ready(function () {
        $("#user-form").validate({
    rules: {
      UserName : {
        required: true,
             },
      PasswordHash : {
        required: true,
             }
            },
            messages: {
                UserName: "Enter your email",
PasswordHash:"Enter your password"
            }

  });
    });
    </script>
}

