
@{
    ViewData["Title"] = "About Us";
}

<div>
   
    <table class="table">
        <tr>
            <th>
                <h1>About Book Market</h1>
                <br><p>Book Market is a platform that allows students to sell their tertiary second hand text books, with an option
                to rent from the Book Market Company.This Platform was instablished in 2020 by a group of friends whith the idea
                to resolve the issue of students selling their text books outside campus premises and having to buy text books that they
                only need to use for a short period of time.</p>
            </th>
            <th>
                <img src="~/images/seller.jpg" width="700" height="350" />
            </th>

        </tr>
    </table>
</div>

<br>
