
@{
    ViewData["Title"] = "About Us";
}

<div>

    <img src="~/images/wallhaven2.jpg" width="100%" height="350" />
    <h1>About Book Market</h1>
    <br>
    <p>
        We as students, knows the hardships of being a student and we also witness other students struggles on daily basis and how they trying to fight them. One of those hardships is buying of textbooks. So a group of Information Technology students came up with an idea to simplify or better to resolve the issue of having to buy first hand text book with unreasonable prices whereas there are students out there selling their pre-owned texts book with reasonable prices so our platform is created to help both parties, student who is selling to be able to sell without any difficulties such as standing outside of campus during unfavourable weather conditions, secondly student who wants to buy will be able to buy online whenever they want to buy.
    </p>
    <br />
    <h5>
        Description of how our system is operating:
    </h5>
    <p>
        Our system is called BookMarket created for students it allows them to sell their second hand text books and also gives them an option to rent a book from us. A student can be a seller, buyer and a renter. By default everyone who registers into our system is a buyer, but if you want to sell or rent a text book, you have to register and apply, then wait for approval from the system administrators. If you are approved then you can sell or rent a book. If you are not approved feedback will be send to you to why you were not approved, then you can re-apply again.
        These services can be executed easily because our platform is user friendly but should it happen that you find it little bit confusing or having any enquiries feel free to email us at this address:<h6>2021Bookmarket@gmail.com</h6>

    </p>



</div>

<br>
