
@{
    ViewData["Title"] = "Rent Application";
}

<div>
    <table class="table">
        <tr>
            <th>
                <h1>Become a Renter</h1>
                <br>
                <p>Apply to become more than just a buyer.Be a renter and rent books for the period you gonna need the book for.
                At Book Market we have books that are used at turtiary.</p>
            </th>
            <th>
                <img src="~/images/wallhaven1.jpg" width="500" height="350" />
            </th>

        </tr>
    </table>
</div>


<div class="form-group">
    <a asp-action="Terms" class="btn btn-primary">Continue</a>
</div>

