
@{
    ViewData["Title"] = "Terms and Condition";
}

<hr />
          
                <h1>Read the following terms and conditions before you apply.</h1>
                <br>
                <h5>
                    Terms
                </h5>
                <p>
                    For you to be granted access to make use of BookMarket platform is conditioned on your acceptance to these Ts & Cs with full understanding of what is required from you as the user.
                    You may not use our products for any illegal activities and also you must not transmit any viruses or code that will distract BookMarket platform in the time of use.
                    We do not guarantee that your use of our platform will be uninterrupted or error-free reason being time to time everything that is technically made or uses online platform may experience technical glitches.
                    May it happen that our platform is violated in any way, as our user you should know that if anything of that kind happens we will be forced to shut down our system temporarily so, in order to make time to look at the nature of these violations.
                </p>

                <h5>
                    Conditions
                </h5>
                <p>
                    You understand that your information/profile except for bank details will be stored on our database by our administrator for period of three month this will be used for verification purposes.
                    For the buyer we do not offer the option of “refund “hence it is advisable to thoroughly check the book before making any payments things to check: whether 1.the book is still in good conditions, 2. The book has all pages and most importantly is it the book of your choice.
                    For renting, the renter is eligible to pay for penalties if the book is lost or if the book is returned in bad condition than its original condition such as torn or missing pages. And also, may it happen that the renter keeps the book more than the renting period, they will pay extra cash for exceeding period set for renting.
                    Take note that prices for our products may change with time without notice.
                    By agreeing to these Terms and conditions of the BookMarket service, you agree that you are at least above 18 and understands fully what is needed.

                </p>
              <input type="checkbox" required /> I accept the Terms and conditions
             <div class="form-group">
                 <br />
            <a asp-action="Rent" class="btn btn-primary">Continue</a>
        </div>


<div>
    <a asp-controller="Home" asp-action="Index">Return to Home</a>
</div>

